// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main-custom {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-custom {
    font-family: $font-family-serif;
    font-size: 2rem;
    font-weight: bold;
    color: $brand-red;
    &:hover {
        color: $brand-grey;
        text-decoration: none;
    }
}

.card-custom {
    width: 31%;
}

.dashboard-button {
    background: $brand-red;
    border-radius: 999px;
    box-shadow: $brand-red 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    &:hover {
        color: $brand-grey;
        box-shadow: none;
        text-decoration: none;
    }
}
